main {
    background-color: teal;
    min-height: 70vh;
    padding: 1rem;

    .paginaDeInicio {
        display: grid;
        grid-template-areas:
            "foto parrafo"
            "foto link";

        .cuandoConsultar {
            font-size: 1.2rem;
            grid-area: parrafo;
            padding: 1.2rem;
            align-self: center;
            text-align: justify;
            border-style: solid;
            border-color: $colorBordes;
            border-width: 5px;
            border-radius: $borderRadius;
            margin-left: 1rem;
            background-color: $colorTarjetas;
            -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.8s;

            @-webkit-keyframes flip-in-hor-bottom {
                0% {
                  -webkit-transform: rotateX(80deg);
                          transform: rotateX(80deg);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: rotateX(0);
                          transform: rotateX(0);
                  opacity: 1;
                }
              }
              @keyframes flip-in-hor-bottom {
                0% {
                  -webkit-transform: rotateX(80deg);
                          transform: rotateX(80deg);
                  opacity: 0;
                }
                100% {
                  -webkit-transform: rotateX(0);
                          transform: rotateX(0);
                  opacity: 1;
                }
              }
              

            &::first-letter {
                font-size: 2rem;
            }
        }

        .turnos {
            font-size: 1.2rem;
            background-color: yellow;
            grid-area: link;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
            align-self: center;
            border-style: solid;
            border-color: black;
            border-width: 3px;
            border-radius: 3px;
            -webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
            animation-delay: 1s;
        }

        .foto {
            grid-area: foto;

            border-style: solid;
            border-color: $colorBordes;
            border-width: 5px;
            border-radius: $borderRadius;
            align-self: center;
            -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.6s;
        }

   @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

    }

    .presentacionSection {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

        .foto-quien-soy {
            border-style: solid;
            border-color: $colorBordes;
            border-width: 5px;
            border-radius: $borderRadius;
            align-self: center;
            margin-top: 1rem;
            -webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
            animation-delay: 0.6s;
        }
     
@-webkit-keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  @keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  

        .presentacion {
            padding: 1.2rem;
            align-self: center;
            text-align: justify;
            border-style: solid;
            border-color: $colorBordes;
            border-width: 5px;
            border-radius: $borderRadius;
            font-size: 1.2rem;
            background-color: $colorTarjetas;
            display: inline-block;
            width: 600px;
            -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.8s;

            &::first-letter {
                font-size: 2rem;
            }

        }

    }

    .servicios {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        


        .serviciosInlineDiv {
            padding: 1.2rem;
            align-self: stretch;
            text-align: justify;
            border-style: solid;
            border-color: $colorBordes;
            border-width: 5px;
            border-radius: $borderRadius;
            font-size: 1.2rem;
            margin: 1rem;
            background-color: $colorTarjetas;
            transition: 500ms;
            
            &:hover {
                transform: scale(1.03);

                background-color: rgb(19, 219, 219);
            }

            .serviciosInline {

                padding: 1rem;
            }

            .serviciosInline2::first-letter {
                font-size: 2rem;
            }
        }
    }

    .acordeon {
        display: none;
        position: absolute;
        padding: 3rem;

        div {
            h2 {
                .acordeon_negrita {
                    font-weight: bold;
                }
            }
        }

    }


    div {
        .galeria {
            display: flex;
            padding: 1rem;
            justify-content: space-evenly;
        }
    }

    .formulario {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .botonWhatsapp {
            background-color: rgb(29, 146, 29);
            color: white;
            z-index: 2;
            position: fixed;
            right: 50px;
            bottom: 50px;
            text-align: center;
            border-width: 0.1rem;
            border-style: solid;
            border-radius: 2rem;
            animation-name: latido;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        @keyframes latido {
            0% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1.00);
            }
        }

        .mapa {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            width: 50%;

            .iframeMapa {
                width: 100%;
            }
        }

        .div__datosContacto {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-style: solid;
            border-color: $colorBordes;
            border-radius: $borderRadius;
            background-color: $colorTarjetas;
            padding: 1rem;
            -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation-delay: 0.6s;

            .h3__datosContacto {
                font-size: 1.5rem;
            }
        }

        .form {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            width: 400px;
            display: grid;
            gap: 0.5rem;
            -webkit-animation: slit-in-vertical 0.45s ease-out both;
	        animation: slit-in-vertical 0.45s ease-out both;
            animation-delay: 0.8s;

     

            .nombre {
                padding: 5px;
                border-radius: 5px;
                border-color: $colorBordes;
            }

            .email {
                padding: 5px;
                border-radius: 5px;
                border-color: $colorBordes;
            }

            .motivoDeConsulta {
                padding: 5px;
                border-radius: 5px;
                border-color: $colorBordes;
            }

            .consulta {
                background-color: $colorBordes;
                padding: 5px;
                border-radius: 5px;
                border-color: $colorBordes;
            }

            .textarea {
                border-radius: 5px;
                border-color: $colorBordes;
            }

            .enviar {
                width: 50px;
                padding: 5px;
                background-color: rgb(6, 41, 41);
                color: $colorBordes;
                border: none;
            }

        }
    }
}